.mob_menu {
    visibility: hidden;
}

.menu_right_div div:hover svg {
    color: #C53A19;
}

.middle_menu li:hover a {
    color: #C53A19;
}

.middle_menu li:hover ul li a {
    color: #fff;
}


.card_sm_box::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #fbf1e8;
    transform: rotate(45deg);
    top: -6px;
    left: calc(50% - 15px);
  }
  .card_sm_box::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 30px;
    background-color: #fff;
    top: 0px;
    left: calc(46% - 15px);
  }

.menu_with_dropdown:hover ul {
    display: flex;
    height: auto;
    opacity: 1;
}
@media (max-width: 1210px) {
    .middle_menu {
        padding-right: 70px !important;
    }
} 
@media (max-width: 1024px) {
    .menu_right_div {
        position: absolute;
        right: 60px;
    }
} 

@media (max-width: 640px) {
    .menu_right_div {
        position: absolute;
        right: 40px;
    }
} 


