@media (min-width: 1200px) and (max-width: 1480px) {
  .features_car_div {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
    .features_car_div {
      padding: 20px;
    }
  }
  
@media (min-width: 880px) and (max-width: 1200px) {
  .features_car_div {
    flex: 1;
  }
}
 