.footer_menu li:hover a {
  color: #ecd9c4;
}

.orange_anim_btn:before {
  background: white;
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.orange_anim_btn:hover:before {
  background: #c53a19;
  content: "";
  width: 100%;
  height: 30px;
  z-index: -1;
}
.hero_section {
  /* height: calc(100vh - 60px); */
  height: 655px;
}
@media (min-width: 640px) {
  .hero_section {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .hero_section {
    height: 480px;
  }
}
@media (min-width: 1024px) {
  .hero_section {
    height: 630px;
  }
}